{% extends 'layouts/app.html' %}

{% block content %}

<section id="center" class="center_home">
	<div class="banner">
		<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000"
			data-pause="hover">
			<!-- Wrapper-for-Slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<!-- First-Slide -->
					<img src="static/img/webimg/1.jpg" alt="" class="img-responsive">
					<div class="carousel-caption kb_caption kb_caption_right">
						<h1 data-animation="animated flipInX" class="">Market demand analysis</h1>
						<p data-animation="animated flipInX" class="">AI can facilitate the selection of crops and help
							farmers identify which products will be most profitable [...]
						</p>
						<h4><a href="#" class="button hvr-shutter-out-horizontal">Read More</a></h4>
					</div>
				</div>
				<div class="item">
					<!-- Second-Slide -->
					<img src="static/img/webimg/2.jpg" alt="" class="img-responsive">
					<div class="carousel-caption kb_caption kb_caption_right">
						<h1 data-animation="animated fadeInDown">Breeding seeds</h1>
						<p data-animation="animated fadeInUp">By collecting data on the growth of plants, AI can help produce crops that are less susceptible
							to disease and better adapted to climatic conditions [...]</p>
						<h4><a href="#" class="button hvr-shutter-out-horizontal">Read More</a></h4>
					</div>
				</div>
				<div class="item">
					<!-- Third-Slide -->
					<img src="static/img/webimg/3.jpg" alt="" class="img-responsive">
					<div class="carousel-caption kb_caption kb_caption_right">
						<h1 data-animation="animated fadeInDown">Crop protection</h1>
						<p data-animation="animated fadeInUp">AI can monitor plant conditions and even predict diseases, identify and remove weeds, and recommend effective pest treatment [...]</p>
						<h4><a href="#" class="button hvr-shutter-out-horizontal">Read More</a></h4>
					</div>
				</div>
			</div>
			<!-- Left-Button -->
			<a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
				<span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<!-- Right-Button -->
			<a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
				<span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<script src="static/js/custom.js"></script>
	</div>
</section>
<section id="middle">
	<div class="container">
		<div class="row">
			<div class="middle_1">
				<h3>Towards Future Farming </h3>
				<h2>Using Modern Day Artificial Intelligence to Solve Traditional Farming Problems</h2>
				<p>Agriculture forms the backbone of our country and crop loss due to plant disease is a major factor contributing to reduction in crop yield.
					 Artificial Neural Network (ANN) methods with smart algorithms for plant disease identification are the need of hour to reduce
					 severity of losses and minimize crop health problems.</p>
			</div>
			<div class="middle_2 clearfix">
				<div class="col-sm-4">
					<div class="middle_3">
						<a href="/classification_corn"><img src="static/img/webimg/corn.jpg" alt="abc" class="img_responsive"></a>
						<h3>Identify Corn Disease</h3>
						<p></p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="middle_3">
						<a href="/classification_cotton"><img src="static/img/webimg/cotton.jpg" alt="abc" class="img_responsive"></a>
						<h3>Identify cotton Disease</h3>
						<p></p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="middle_3">
						<a href="/classification_grapes"><img src="static/img/webimg/grapes.jpg" alt="abc" class="img_responsive"></a>
						<h3>Identify Grapes Disease</h3>
						<p></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="middle_2 clearfix">
				<div class="col-sm-4">
					<div class="middle_3">
						<a href="/classification_potato"><img src="static/img/webimg/potato.jpg" alt="abc" class="img_responsive"></a>
						<h3>Identify Potato Disease</h3>
						<p></p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="middle_3">
						<a href="/classification_tomato"><img src="static/img/webimg/tomato.jpg" alt="abc" class="img_responsive"></a>
						<h3>Identify Tomato Disease</h3>
						<p></p>
					</div>
				</div>
			</div>
		</div>


	</div>
</section>


<section id="our">
	<div class="container">
		<div class="row">
			<div class="our_1 clearfix">
				<div class="col-sm-4">
					<div class="our_2">
						<a href="/recommendation"><img src="static/img/webimg/7.jpg" alt="abc" class="img_responsive"></a>
						<h3>Intelligent Crop Recommendation system</h3>
						<p>To recommend optimum crops to be cultivated by farmers based on several
							parameters and help them make an informed decision before cultivation</p>
					</div>
					<div class="our_3">
						<i class="fa fa-tree"></i>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="our_2">
						<a href="/weather_forcasting"><img src="static/img/webimg/weatherfor.jpg" alt="abc" class="img_responsive"></a>
						<h3>Weather forecasting</h3>
						<p>Weather forecasting is the application of current
							technology and science to predict the state of the atmosphere for a future time and a given location.</p>
					</div>
					<div class="our_3">
						<i class="fa fa-dribbble"></i>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="our_2">
						<a href="/mandi_price_forcasting"><img src="static/img/webimg/mandipriceforcasting.jpg" alt="abc" class="img_responsive"></a>
						<h3>Mandi price forecasting</h3>
						<p>mandi price forecasting helps farmer and agriculturist to know about the growth or trend or price value of product before selling to mandi</p>
					</div>
					<div class="our_3">
						<i class="fa fa-users"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="people" class="clearfix">
	<div class="people_1 clearfix">
		<div class="col-sm-6 space_all">
			<div class="people_main_1 clearfix">
				<div class="people_4">
					<h4>LET'S GET TOGETHER</h4>
					<h2><a href="#">We're here</a> for you</h2>
					<p>Our team is happy to answer your quetions. Fill out the form and
					we'll be in touch as soon as possible.</p>
				</div>
				<div class="people_5 clearfix">
					<div class="col-sm-6 space_all">
						<div class="people_6">
							<input type="text" class="form-control" placeholder="First name">
						</div>
					</div>
					<div class="col-sm-6 space_all">
						<div class="people_6">
							<input type="text" class="form-control" placeholder="Last Name">
						</div>
					</div>
				</div>
				<div class="people_5 clearfix">
					<div class="col-sm-6 space_all">
						<div class="people_6">
							<input type="text" class="form-control" placeholder="Email">
						</div>
					</div>
					<div class="col-sm-6 space_all">
						<div class="people_6">
							<input type="text" class="form-control" placeholder="Phone">
						</div>
					</div>
				</div>
				<div class="people_7 clearfix">
					<div class="people_8">
						<textarea placeholder="Message" class="form-control"></textarea>
					</div>
				</div>
				<div class="people_9 clearfix">
					<div class="people_10">
						<a href="#" class="button_1">Submit</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 space_all">
			<div class="people_main clearfix">
				<div class="people_2">
					<a href="#"><img src="static/img/webimg/contact.jpg" alt="abc" class="img_responsive"></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="place">
	<div class="place_main clearfix">
		<div class="container">
			<div class="row">
				<div class="place_1">
					<h4>Our Experts</h4>
					<h2>Let's meet with our team members</h2>
					<p></p>
					<a href="#" class="button_1">READ MORE</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="request">
	<div class="container">
		<div class="row">
			<div class="request_1 clearfix">
				<div class="col-sm-3">
					<div class="request_2">
						<a href="https://www.linkedin.com/in/shubham-nikam-b52ba41a3/"><img src="static/team/shubham.jpg" alt="saurabh" class="img_responsive"></a>
					</div>
					<div class="request_3">
						<h3>Shubhan Nikam</h3>
						<p>Web Developer </p>
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/in/shubham-nikam-b52ba41a3/"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="request_2">
						<a href="https://www.linkedin.com/in/akash-shinde-3237b81b0/"><img src="static/team/akash.jpg" alt="abc" class="img_responsive"></a>
					</div>
					<div class="request_3">
						<h3>Akash Shinde </h3>
						<p>Research Analyst </p>
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/in/akash-shinde-3237b81b0/"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="request_2">
						<a href="https://www.linkedin.com/in/saurabh-bane-86a6a71b1/"><img src="static/team/saurabh.jpg" alt="abc" class="img_responsive"></a>
					</div>
					<div class="request_3">
						<h3>Saurabh Bane</h3>
						<p>Research Analyst</p>
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/in/saurabh-bane-86a6a71b1/"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="request_2">
						<a href="https://www.linkedin.com/in/vishvanath-metkari-586617197/"><img src="static/team/vishu.jpg" alt="abc" class="img_responsive"></a>
					</div>
					<div class="request_3">
						<h3>Vishvanath Metkari</h3>
						<p>Machine Learning Engineer/Python Developer</p>
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/in/vishvanath-metkari-586617197/"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock content %}