{% extends 'layouts/app.html' %}

{% block css %}
<link href="static/css/contact.css" rel="stylesheet">
{% endblock css %}

{% block content %}

<section id="contact_main">
    <div class="contact_main_3 clearfix">
        <div class="container">
            <div class="row">
                <div class="contact_main_1 clearfix">
                    <div class="col-sm-6">
                        <div class="contact_main_2">
                            <h2>Login</h2>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="contact_main_2">
                            <ul>
                                <li>Home</li>
                                <li>!</li>
                                <li>Login</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="exercise">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3635689.793072721!2d78.6421709625!3d27.141236999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1531201517392 "
                        height="350" style="border:0; width:100%;" allowfullscreen=""></iframe>
                </div>
                <div class="col-sm-6">
                    <div class="exercise_3">
                        <h2>Login</h2>
                    </div>
                    <form action="/login" method="POST">
                        <div class="col-sm-12 space_all">
                            <div class="col-sm-12 space_all">
                                <div class="exercise_4">
                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-sm-12 space_all">
                                <div class="exercise_4">
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 space_all">
                            <div class="exercise_6">
                                <button type="submit" class="button_1">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}