<section id="footer">
    <div class="footer_inner clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <div class="footer_1">
                            <h3>Hello farmer</h3>
                            <p>What all of us have to do is to make sure we are using AI in a way that is for the benefit of humanity, not to the detriment of humanity</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_2">
                            <h3>Address </h3>
                            <ul>
                                <li><i class="fa fa-map-marker"></i> Satara</li>
                                <li><i class="fa fa-phone"></i> Phone: 7875494313</li>
                                <li><i class="fa fa-envelope"></i> <a href="#">info@hellofarmer.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_3">
                            <h3>Social Media </h3>
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_2">
                            <h3>subscribe</h3>
                        </div>
                        <div class="footer_4">
                            <p>Enter your email and we’ll send you latest..</p>
                        </div>
                        <div class="footer_3">
                            <p><input type="text" class="form-control" placeholder="Your Email Address"></p>
                            <a href="#" class="button">SIGN UP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="footer_main" class="clearfix">
    <div class="col-sm-12">
        <div class="footer_main_1">
            <p>© 2022 Hello farmer . All Rights Reserved </a></p>
        </div>
    </div>
</section>